#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cursor-pointer {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.featurette-divider {
    margin: 5rem 0;
}
